:root {
  --app-color-background: #f2f2f2;
  --app-color-text: black;
  --app-color-selected: #bedbca54;
  --app-color-border: #80808033;

  --region-color-africa: #a66ef4f5;
  --region-color-americas: #27ae60;
  --region-color-asia: #eb5757;
  --region-color-europe: #ea3ad7;
  --region-color-oceania: #e8b35a;
  --region-color-polar: #808080;
}
