.map-view-component {
  flex: 1;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  background: white;
}

.location-marker {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../../pin.svg");
}
